<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :sites %><br />
    <%= f.text_field :sites %>
  </div>
  <div class="field">
    <%= f.label :filters %><br />
    <%= f.text_field :filters %>
  </div>
  <div class="field">
    <%= f.label :blacklist %><br />
    <%= f.text_field :blacklist %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
